h1 {
  text-shadow: 3px 3px 0px #f14437, 5px 5px 0px #2295f2, 7px 7px 0px #9c27b0;
  font-size: 100px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
