div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.blue {
  background-color: #03a9f4;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.green {
  z-index: 3;
  background-color: #009688;
  top: 30px;
  left: 30px;
}

.red {
  background-color: #f44336;
  z-index: 4;
  top: 40px;
  left: 40px;
}

.black {
  background-color: #333;
  z-index: 1;
  top: 30px;
  left: 20px;
}
