.table {
  display: table;
  width: 800px;
  margin: auto;
  text-align: center;
  border-spacing: 15px;
  background-color: #eee;
  font-family: Open Sans, sans-serif;
  border-collapse: separate;
}

.row {
  display: table-row;
  background-color: #ddd;
  height: 35px;
}

.row > div {
  padding-top: 8px;
}

.cell1 {
  width: 100%;
}

.cell3 {
  width: 33.33%;
}

.cell2 {
  width: 50%;
}

.cell4 {
  width: 25%;
}
